{% block content %}

{% load static %}


<h3 align="center" style="font-size: 15px;" ><b>Checklist Report of 
    <td>{{ values.created_on }}, </td> 
    
</b></h3>
               

    <!-- /.box-body -->

    
 
<br>
{%if lent %}
    <table class='b' border="1" align="center">
        <thead >
          <tr >  
                <th class='b'><p style="font-size: 15px; padding: 10px;">S.N.</p></th>
                <th class='b'><p style="font-size: 15px;padding: 10px;" >Item </p></th> 
                <th class='b'><p style="font-size: 15px; padding: 10px;">Action by </p></th>
                  
                
            </tr>
        </thead>
        
        <tbody id="row">
            
            {% for key,values in obj.items %}  
            <tr style="width:100%;">
                <td align="center" style="width: 10%;"><p style="font-size: 15px; padding: 50px;">{{key}} </p></td>
                <td align="center" style="width: 70%; height: auto; font-size: 13px;"><p style="font-size: 15px;">{{ values.activities }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ values.created_on }} </p></td>
                <td align="center"  style="width: 15%;"><p style="font-size: 15px; padding: 50px;">{{values.inspection_officer__designation }}</p></td>
                
                
                
            </tr>
            {% endfor %}
            
        </tbody>   
    </table>
    {%else%}
    <table class='b' border="1" align="center" id="gi10form">
        <thead>
            <tr >  
                <th class='b'><p style="font-size: 15px; padding: 10px;">S.N.</p></th>
                <th class='b'><p style="font-size: 15px;padding: 10px;" >Item </p></th> 
                <th class='b'><p style="font-size: 15px; padding: 10px;">Action by </p></th>
                  
                
            </tr>
        </thead>
        <tr >
            <td class="b" colspan="5"><h1>No Data Available.</h1></td>
        </tr>
         
    </table>

    {% endif %}

    <br>
    <br>
    <br>
    
    <br>
<table>

    <tr>
        {% comment %} {% for key,values in obj.items %}   {% endcomment %}
        <td> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 align="left" style="font-size: 15px;" ><b>Note No
                {{ values.inspection_note_no }} 
             </b></h3>
              <h3 align="left" style="font-size: 15px;" ><b>Copy To:</b></h3>
        
                <ol type="1">
                    <li style="font-size: 15px;">{{  values.inspection_note_no }} </li>
                    <li style="font-size: 15px;">{{ values.inspected_on }} </li>
        
                </ol>

        </td>

        <td>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </td>

        <td>
            <h3 align="left" style="font-size: 15px;" >( {{ values.inspection_officer__designation }} )
               
             </h3>

              <h3 align="left" style="font-size: 15px;" ><b>{{values.inspection_officer__designation}}</b></h3>
                <br>
                <h3 align="left" style="font-size: 15px;" ><b>{{values.location}} Dated {{values.inspected_on}}</b></h3>
             </td>
        {% comment %} {% endfor%} {% endcomment %}

    </tr>
</table>





{% endblock %}  