{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" type="text" href="{% static '/bootstrap-4.0.0/dist/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/bootstrap.min.css' %}">

<link href="{% static '/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
<script src="{% static '/js/bootstrap-toggle.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '/css/jquery-ui.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '/css/quicksand.css' %} ">
     
<link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">

<script src="{% static 'js/timepicker.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static '/css/select2.min.css' %}" /> -->

  <script src="{% static '/js/jquery.min.js' %}"></script>
   <!-- Select2 CSS --> 

<!-- jQuery --> <script src="{% static '/js/jquery.min4.js' %}"></script> 

<!-- Select2 JS --> 
<script src="{% static '/js/select2.min.js' %}"></script>
<!-- Load icon library -->
<link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
<!-- multiple selesct marked officer -->

<!-- <link href="css/jquery.multiselect.css" rel="stylesheet" type="text/css"> -->
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
  <link href="{% static '/css/jquery.dataTables.min.css' %}"  rel="stylesheet"/>
  <!-- Sheets for datepicker for target date -->
  
  <link rel="stylesheet" href="{% static '/css/jquery-ui.css' %}">
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.css"> -->
  <script src="{% static '/js/dataTables.responsive.js' %}"></script> 
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="{% static '/js/jquery-ui.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/lato.css' %} ">


<br>
  <body>
    <center><h3 style="font-family: 'Lato', sans-serif; color: #DC3545;"><b>Draft Inspections</b></h3></center>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success">
                    <strong>Success </strong>{{ message }}
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    <strong>Error </strong>{{ message }}
                  </div>
                {% elif message.tags == 'info' %}
                  <div class="alert alert-info">
                    <strong>Info </strong>{{ message }}
                  </div>
                {% else %}
                
                {% endif %}
               
            
            {% endfor %}
        {% endif %}
      </div>
    
      <div class="container" style="font-family:'Lato', sans-serif">
        <table id="mytable" class="table table-striped table-bordered table-sm">
            <thead style="background-color: #343a40;white-space: nowrap;font-size:1.1em; color:white;text-align: left;">
            <tr>
            <th>S.No.</th>
            <th>Insp. Date</th>

            <th>Insp. Title</th>
            <th>Rly./Org.</th>
            <th>Div./Unit</th>
            <!-- <th>Department</th>
            <th>Location</th>
             -->
            
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for i in list1 %}
            <tr>
           <td>{{forloop.counter}}</td>

            {% if i.inspected_on %}
              <td>{{i.inspected_on|date:"d/m/y"}}</td>

            {% else %}
              <td style="white-space: nowrap;">NA</td>
            {% endif %}
           
            <td><a class="js-btn-tooltip" data-toggle="tooltip" data-placement="top" title='{{i.inspection_title}}'>
              {{i.inspection_title|slice:":50"}}..
            </a>
          </td>


           <td>
               
                    {% for j in i.location_item %}
                    {% if j.type == 'HQ' %}
                    <span >{{j.item}}<br></span>
                    {% endif %}
                    {% endfor %}
                
           </td>

           <td>
           
                {% for j in i.location_item %}
                {% if j.type == 'DIV' %}
                <span >{{j.item}}<br></span>
                {% endif %}
                {% endfor %}
            </ul>
          </td>

          <!-- <td>
            
                {% for j in i.location_item %}
                {% if j.type == 'DPT' %}
                <span >{{j.item}}<br></span>
                {% endif %}
                {% endfor %}
           
          </td> -->

           <!-- <td>
                
                    {% for j in i.location_item %}
                    {% if j.type == 'LOC' %}
                    <span >{{j.item}}<br></span>
                    {% endif %}
                    {% endfor %}
                
           </td> -->
           
           
          
           
          
           
           <td><button type="button" class="btn " style="background-color: #0000ff; color: #fff;" id="{{i.inspection_no}}" onclick="open_inspection(this)">Edit</button></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</body>
<script>
    $( document ).ready(function() {
        $('#mytable').DataTable({
                  "language": {
            "search": "Keyword search:"
          }
        });
});


function open_inspection(e)
{
    var ins_id=e.id;
    window.open("/create_inspection_form?ins_id="+ins_id)
   
}

$(document).ready(function(){
  
  $('.js-btn-tooltip').tooltip();
 
  $('.js-btn-tooltip--custom-alt').tooltip({
    customClass: 'tooltip-custom-alt'
  });
  
});

</script>
{% endblock %}   